extends _layouts/application

block content
  header.cover__container
    .cover__content__container
      .cover__content
        .cover__logo
        h1.cover__title
          | QR&ndash;коды для бизнеса
        h2.cover__subtitle
          | Продвигайте товары, услуги и многое другое с помощью стильных QR-стикеров ВКонтакте.
        a.btn-primary--rounded
          | Создайте свой QR-стикер

        a.cover__arrow-btn


  section.screens__container
    .container
      h2.screens___title
        | Помогите аудитории найти вас в онлайне
      h3.screens___subtitle
        | Разместите QR-стикеры в своём заведении, на визитке или в рекламных материалах.
        br
        | Пусть поклонники и клиенты переходят из офлайна в онлайн — на Вашу страницу ВКонтакте или на любой другой сайт.

      .screens__cover

  section.icons__container
    .container
      .icons__block
        .icons__item
          .icons__item__image
        .icons__item__title
          | Можно отсканировать с любого смартфона

      .icons__block
        .icons__item
          .icons__item__image
        .icons__item__title
          | Яркие стикеры привлекают внимание

      .icons__block
        .icons__item
          .icons__item__image
        .icons__item__title
          | Не нужно вводить ссылку вручную

      .icons__block
        .icons__item
          .icons__item__image
        .icons__item__title
          | Нужная страница откроется мгновенно

  section.features__container
    .container
      .features__item
        .features__item__title
          | Привлекайте новых подписчиков
        .features__item__text
          | Предложите подписаться на ваше
          br
          | сообщество или профиль ВКонтакте.
        a.features__item__btn(href="")
          | Узнать подробности
          i.vkqr-icon.vkqr-icon--chevron-right


